################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MobileAppDevCSharp/FileContentIndex
/C971/.vs/C971/FileContentIndex
